nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: white;
    justify-content: space-between;
    border-color: black;
    border-width: 3px;
    max-width: fit-content;
    width: auto;
    margin-inline: auto;
}

.content {
    width: 48%;
    margin-right: 2%;
}

.image {
    width: 48%;
    text-align: center;
}

.image img {
    max-width: 50%;
    height: auto;
}

html, body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366; 
    color: white;
    padding: 1em 0;
    text-align: center;
}

p1{
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}